// Fontes
$pacifico-cursive: Pacifico, cursive;
$roboto: Roboto, sans-serif;

// Cores
$cabecalho-fundo: #f9f9f9;
$link: #808080;
$link-ativo: #333;
$link-hover: #3b3b3b;
$branco: #fdfdfd;
$red: #8D0606;
$subtitulo: #595959;
$fundo-receitas: #e5e5e5;
$red-hover: #bd0101;
$branco-hover: #d6d6d6;
$fundo-rodape: #bfbfbf;